{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="../css/style-homepage.css">

    <title>Result Search</title>
</head> --}}

<body>
    {{!--
    <link rel="stylesheet" href="css/homePageNeutralStyle.css"> --}}
    
    <link rel="stylesheet" href="css/searchGoodsPageStyle.css">
    <link rel="stylesheet" href="css/manageCategoryStyle.css">
    {{#if message}}
        <h3>{{message}}</h3>
    {{/if}}
    <div class="container" style="margin-top: 20px">
        <div class="section-btn-container">
            <a href="?category=TYNU">
                <button class="btn btn-primary">Nước uống</button>
            </a>
            <a  href="?category=TYDAV">
                <button class="btn btn-primary">Đồ ăn vặt</button>
            </a>
            <a href="?category=TYDCHT">
                <button class="btn btn-primary">Dụng cụ học tập</button>
            </a>
            <a href="?category=MA">
                <button class="btn btn-primary">Thức ăn</button>
            </a >

        </div>
        <div class="row" style="margin-bottom: 20px">
        </div>
        <div class="row justify-content-center align-items-center">
            {{#each arrResult}}
            {{#if this.ma_mat_hang}}
            <div class="col-md-2 col-margin-search">
                <div class="card-sl item-result" id="{{this.ma_mat_hang}}">
                    <div class="card-image-search text-center">
                        <img src="{{this.img_url}}" />
                    </div>

                    {{!-- {{#if this.ten_mat_hang}}
                    <h5 class="text-center">{{this.ten_mat_hang}}</h5>
                    <p class="text-center">{{ConvertToVND this.gia}}</p>
                    {{else}} --}}
                    <h5 class="text-center">{{this.ten_mat_hang}}</h5>
                    <p class="text-center">{{ConvertToVND this.gia_ban_ra}}</p>
                    {{!-- {{/if}} --}}
                </div>
            </div>
            {{else}}
            <div class="col-md-2 col-margin-search">
                <div class="card-sl item-result" id="{{this.ma_mon_an}}">
                    <div class="card-image-search text-center">
                        <img src="{{this.img_url}}" />
                    </div>

                    {{!-- {{#if this.ten_mat_hang}}
                    <h5 class="text-center">{{this.ten_mat_hang}}</h5>
                    <p class="text-center">{{ConvertToVND this.gia}}</p>
                    {{else}} --}}
                    <h5 class="text-center">{{this.ten_mon_an}}</h5>
                    <p class="text-center">{{ConvertToVND this.gia_ban}}</p>
                    {{!-- {{/if}} --}}
                </div>
            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>
    <script src="script/itemSearchSelectScript.js"></script>
</body>

{{!--

</html> --}}